@font-face {
    font-family: 'Inter';
    src: url(./Fonts/Inter_18pt-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.content-block {
    width: 1440px;
    margin: auto;
}

body {
    background: linear-gradient(180deg, #75389e, #4c1d6c);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

p.title-block {
    text-align: center;
    font-size: 36px;
    margin-bottom: 60px;
}

.bold-text {
    font-weight: bold;
}

.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
    margin-bottom: 140px;
}

.hero-section .hero-section__left-side {
    display: flex;
    flex-direction: column;
}

.hero-section .hero-section__left-side h2 {
    font-size: 36px;
    line-height: 56px;
    font-weight: normal;
    margin-bottom: 50px;
}

.hero-section .hero-section__left-side p {
    font-size: 24px;
    line-height: 40px;
    font-weight: normal;
}

.hero-section .hero-section__right-side img.hero-section__laptop-image {
    width: 680px;
    height: auto;
}

.cases {
    display: flex;
    flex-direction: column;
    margin-bottom: 140px;
}

.cases .cases__flex {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.cases .cases__table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #ffffff;
    border-radius: 20px;
    padding: 16px;
    width: 365px;
    height: 380px;
    text-align: left;
}

.cases .cases__table p.table__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 12px;
}

.cases .cases__table p.table__desc {
    font-size: 24px;
}

.cases .cases__table button.table__button-learn-more {
    background-color: #9638ba;
    padding: 25px 68px;
    border-radius: 20px;
    font-size: 32px;
    border: none;
    color: #ffffff;
    margin-top: auto;
}
