@font-face {
    font-family: 'Inter';
    src: url(./Fonts/Inter_18pt-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.content-block {
    width: 1440px;
    margin: auto;
}

body {
    background: linear-gradient(180deg, #75389e, #4c1d6c);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

p.title-block {
    text-align: center;
    font-size: 36px;
    margin-bottom: 60px;
    margin-top: 140px;
}

p.title-link-block {
    text-align: center;
    font-size: 26px;
    color: #dcdbdb;
}

.bold-text {
    font-weight: bold;
}

.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
}

.hero-section .hero-section__left-side {
    display: flex;
    flex-direction: column;
}

.hero-section .hero-section__left-side h2 {
    font-size: 36px;
    line-height: 56px;
    font-weight: normal;
    margin-bottom: 50px;
}

.hero-section .hero-section__left-side p {
    font-size: 24px;
    line-height: 40px;
    font-weight: normal;
}

.hero-section .hero-section__right-side img.hero-section__laptop-image {
    width: 680px;
    height: auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #ffffff;
    border-radius: 20px;
    padding: 16px;
    width: 365px;
    text-align: left;
    position: relative;
}

.card p.card__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 12px;
    margin-top: auto;
}

.card p.card__desc {
    font-size: 24px;
    height: 170px;
    width: auto;
    margin-top: auto;
}

.card img.card__logo {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
    position: absolute;
    top: 0%;
    transform: translateY(-50%);
}

.card button.card__button-learn-more {
    background-color: #9638ba;
    padding: 25px 68px;
    border-radius: 20px;
    font-size: 32px;
    border: none;
    color: #ffffff;
    margin-top: auto;
}

.mg-bt-120 {
    margin-bottom: 120px !important;
}

.cases {
    display: flex;
    flex-direction: column;
    margin-bottom: 140px;
}

.cards__flex {
    display: flex;
    flex-direction: row;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-skills {
    height: 330px;
}

p.card__title-facts {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

p.card__desc-facts {
    font-size: 24px;
    width: 340px;
}

.text-link {
    margin: auto;
    font-size: 20px;
    color: #dcdbdb;
}

.text-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

p.title-block-with-link {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 140px;
}
